{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["oclif"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "oclif",
    "oclif-typescript"
  ]
}